@model List<Customer>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer id</th>
            <th>Name</th>
            <th>Account number</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            @foreach (var account in customer.Accounts)
            {

                <tr>
                    <th>@customer.Id</th>
                    <th>@customer.Name</th>
                    <td>@account.Id</td>
                    <td>@account.Balance</td>
                </tr>
            }
        }
    </tbody>
</table>
